<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

  <script type="text/javascript"
    src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js">
  </script>
  <script type="text/javascript"
    src="{{ url_for('static', filename='enter_tabs.js') }}">
  </script>
    <script type="text/javascript"
    src="{{ url_for('static', filename='flag_input.js') }}">
  </script>
</head>

<body>
  <div class="page">
    <h1>{{ title }}</h1>
    <div class="metanav">
    </div>
    {% for message in get_flashed_messages() %}
      <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block body %}{% endblock %}
  </div>
</body>
