{% extends "layout.html" %}
{% set active_page = page_name %}
{% block body %}
<script>
$(document).ready( function () {
    $('#participants').DataTable();
} );
</script>

<table id="participants" class="display" data-order='[[ 0, "asc" ]]' data-page-length='25'>
    <thead>
        <tr>
            <th>Participant ID</th>
    {%     for caption in cols %}
            <th>{{ caption }}</th>
    {%     endfor %}
        </tr>
    </thead>
    <tbody>
    {%      for participant_id in response_data %}
        <tr>
            <td>{{ participant_id }}</td>
    {%          for value in response_data[participant_id] %}
            <td>{{ '%s' % 'Complete' if value == 1 else 'Incomplete' }}</td>
    {%          endfor %}
        </tr>
    {%     endfor %}
    </tbody>
</table>


{% endblock %}
