{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
    <dl class="inline">
        <div>
            <dt><label>Participant ID:</label></dt>
            <dd><input type="text" id="participant_id" name="participant_id"></input></dd>
        </div>
    </dl>

    {% for day in range(7) %}
    <dl class="inline">
        <div>
            <dt class="sun_diary_day_heading"><label>Day {{ day + 1 }} Date:</label></dt>
            <dd><input type="text" size="30" id="day{{ day + 1 }}" name="day{{ day + 1 }}"></dd>
        </div>
    </dl>
    <table class="table table-header-rotated">
        <thead>
            <th class="no_rotate"><div><span>Time</span></div></th>
    {%     for heading in headings %}
            <th class="rotate"><div><span>{{ heading }}</span></div></th>
    {%     endfor %}
        </tr>
        </thead>
        <tbody>
    {%     for time in times %}
        <tr>
            <td>{{ time }}</td>
    {%         for heading in headings %}
                <td><input type="checkbox" name="{{ (day + 1) ~ time }}" value="{{ heading }}"/></td>
    {%         endfor %}
        </tr>
    {%     endfor %}
        </tbody>
    </table>
    <p />
    {% endfor %}
    <dl>
        <dd><input type="submit" value="Save">
    </dl>
</form>
{% endblock %}
